name: CI Build

concurrency:
  group: workflow-${{ github.workflow }}-branch-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - refs/heads/{branch-name}
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    name: Build, Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.1.1

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run Lint
        run: pnpm run

      - name: Run Build
        run: pnpm run build --noEmit
