name: Publish

run-name: Publish - ${{ github.ref_name }}

concurrency:
  group: workflow-${{ github.workflow }}-branch-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.1.1

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Upgrade npm for trusted publishing
        run: npm install -g npm@latest

      - name: Setup npm registry
        run: npm config set registry https://registry.npmjs.org/

      - run: pnpm run lint

      - run: pnpm run build

      - run: pnpm publish --no-git-checks
